<h2>Lista ferramentas:</h2>
<hr>
<a href="/admin/ferramentas/add"><button class="btn btn-success">Nova ferramenta</button></a>
{{#each ferramenta}}
    <div class="card mt-4">
        <div class="card-body mt-2">
            {{#ifvalue ../user.tipo equals ="admin"}}
            <h5>Proprietário: {{proprietario.nome}} <br> ID: {{proprietario._id}}</h5>
            {{/ifvalue}}
            <h4>{{modelo}}</h4>
            <small>{{tipo}}</small>
            <br>
            <small>Quantidade: {{unidade}}</small>
            <br>
            <a href="/admin/ferramentas/edit/{{_id}}"><div class="btn btn-success mt-4">Editar ferramenta</div></a>
            <br>
            <form action="/admin/ferramentas/deletar" method="POST" >
                <input type="hidden" name="id" value="{{_id}}">
                <button class="btn btn-danger mt-2">Deletar ferramenta</button>
            </form>
        </div>
    </div>
{{else}}

{{/each}}